{%extends 'all-news/base.html'%}
{% load bootstrap3 %}
{% block content %} 
{{ block.super}}



<div class="container">

  <!-- Looping through news   -->
  {% for news_item in news %}
  <div class="jumbotron">
    <div class="row">
      <div class="card text-center">
        <div class="card-header">
          <img class="text-center" src="{{news_item.article_image.url}}" class="img-responsive" width="450px" height="300px" alt="Image">
        </div>
        <div class="card-body">
          <h2 class="text-center"> {{ news_item.title }} </h2>
          <h2 class="text-center"> {{ news_item.post }} </h2>
        </div>
      </div>
      <br>

    </div>
  </div>

    <!-- Looping through news end   -->
  <div class="container-fluid">

    <form  action="{%url 'newsToday'%}" method="post">
      {%csrf_token%}

      {% bootstrap_form letterForm layout='inline' %}
      <input type="submit" value="Subscribe">
    </form>

  </div>
  {% endfor %}
</div>

{% endblock %}

