{%extends 'all-news/base.html'%}
{% block content %} 
{{ block.super}}



<div class="container">

  <!-- Looping through news   -->
  {% for news_item in news %}
  <div class="jumbotron">
    <div class="row">
      <div class="card text-center">
        <div class="card-header">
          <img class="text-center" src="{{news_item.article_image.url}}" class="img-responsive" width="450px" height="300px" alt="Image">
        </div>
        <div class="card-body">
          <h2 class="text-center"> {{ news_item.title }} </h2>
          <h2 class="text-center"> {{ news_item.post }} </h2>
        </div>
      </div>
      <br>

    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

<!-- <div class="card text-center">
  <div class="card-header">
    <img src="{{news_item.article_image.url}}" class="img-responsive" width="350px" height="300px" alt="Image">
  </div>
  <div class="card-body">
    <h2 class="text-center"> {{ news_item.title }} </h2>
    <h2 class="text-center"> {{ news_item.post }} </h2>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div> -->